.turntable_form {
  width: 32vw;
  max-height: 60vh;
  padding: 32px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 8px;
  margin-left: 100px;
  transition: all 0.5s;
  overflow: auto;
}

.turntable_form:hover {
  box-shadow: 0px 0px 20px 5px rgb(232, 232, 232);
}
