.turntable_title {
  font-size: 50px;
  letter-spacing: 16px;
  color: #1677ff;
  text-align: center;
  padding-top: 40px;
}

.turntable_wrap {
  width: 82vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
